bin/
obj/
*.user
*.suo
*.userossc
*.sln.docstates
Debug/
Release/
x64/
x86/
TestResults/
appsettings.Development.json
*.Secret.json
.vs/
.vscode/
*.nupkg
**/packages/*
!**/packages/build/
*.csproj.DotSettings
.teamcity/
.fake
settings.json
*.db
*.db-journal
*.log
bass_settings.json